<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <style>
            .container{
                align-items: center;
            }
                        
        </style>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/corplogo.PNG" style="border-radius: 50%;" width="30" height="24" class="d-inline-block align-text-top">
            Production Analytics Dashboard
        </a>
        </div>
    </nav>

    </head>
    <body>
        
        <div class="card" style="margin: 2.5% 5%; padding: 1.5%;">

            <div style="padding-bottom: 0.5%;">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Global Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Territorial Manager</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Intermediaries</a>
                    </li>
                  </ul>

            </div>

            

            <div class="row" style="padding-bottom:0.5%;">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Month To Date</h5>
                      <h6 class="card-title">Production</h6>
                      <p class="card-text">Amount: Ksh.</p>
                      <p class="card-text">Number of Policies: </p> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Month To Date</h5>
                      <h6 class="card-title">Receipted</h6>
                      <p class="card-text">Amount: Ksh.</p>
                      <p class="card-text">Number of Policies: </p>                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Month To Date</h5>
                        <h6 class="card-title">Cancelled</h6>
                        <p class="card-text">Amount: Ksh.</p>
                        <p class="card-text">Number of Policies: </p> 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Week To Date</h5>
                      <h6 class="card-title">Production</h6>
                      <p class="card-text">Amount: Ksh.</p>
                      <p class="card-text">Number of Policies: </p> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Week To Date</h5>
                      <h6 class="card-title">Receipted</h6>
                      <p class="card-text">Amount: Ksh.</p>
                      <p class="card-text">Number of Policies: </p> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Week To Date</h5>
                        <h6 class="card-title">Cancelled</h6>
                        <p class="card-text">Amount: Ksh.</p>
                        <p class="card-text">Number of Policies: </p> 
                      </div>
                    </div>
                  </div>
              </div>    


        </div>

        {{data}}



        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">TM</th>
                        <th scope="col">INTERMEDIARY</th>
                    </tr>
                </thead>
                <tbody>
                    {% for target in targets %}
                        <tr>
                            <td>{{ target['NEW TM'] }}</td>
                            <td>{{ target['INTERMEDIARY'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </body>
</html>