<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <style>
            .container{
                align-items: center;
            }
                        
        </style>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/corplogo.PNG" style="border-radius: 50%;" width="30" height="24" class="d-inline-block align-text-top">
            Production Analytics Dashboard
        </a>
        <button class="btn btn-primary">        
          <a style="color: white;  text-decoration: none;"  href="{{url_for('login')}}">Log Out</a>
        </button>
        </div>
    </nav>

    </head>
    <body>

      

      
      <div class="card" style="margin: 2.5% 5%; padding: 1.5%;">

        <div style="padding-bottom: 0.5%;">
             <ul class="nav nav-pills">
                 <li class="nav-item">
                   <a class="nav-link " href="{{ url_for('home') }}">Global Dashboard</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link active" href="">Territorial Manager</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#">Intermediaries</a>
                 </li>  
                 <li >
                 <div style="color:#1f75fe; margin-left: 90%">
                  <label for="newTMDropdown">Select_Account_Manager</label>                  
                  <select id="newTMDropdown"></select>
                  </div>  
                </li>

                 
   
               </ul>

               

         </div>           

         <div class="row" style="padding-bottom:0.5%;">
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Month To Date</h5>
                   <h6 class="card-title">Production</h6>
                   <p id="grossPremiumCard" class="card-text">Amount: Ksh. </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Month To Date</h5>
                   <h6 class="card-title">Receipted</h6>
                   <p id = "receiptsCard" class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p>                      
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Month To Date</h5>
                     <h6 class="card-title">On Credit</h6>
                     <p id = "netbalanceCard" class="card-text">Amount: Ksh. </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
               </div>
           </div>
           <div class="row" style="padding-bottom:0.5%;">
               <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Week To Date</h5>
                     <h6 class="card-title">Production</h6>
                     <p id="weekgrossPremiumCard" class="card-text">Amount: </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Week To Date</h5>
                     <h6 class="card-title">Receipted</h6>
                     <p id="weekreceiptsCard" class="card-text">Amount: </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Week To Date</h5>
                     <h6 class="card-title">On Credit</h6>
                     <p id="weeknetbalanceCard" class="card-text">Amount: </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
             </div>
           </div> 
           <div class="row" style="padding-bottom:0.5%;">
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Yesterday</h5>
                   <h6 class="card-title">Production</h6>
                   <p id="yesterdaygrossPremiumCard"  class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Yesterday</h5>
                   <h6 class="card-title">Receipted</h6>
                   <p id="yesterdayreceiptsCard"  class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Yesterday</h5>
                   <h6 class="card-title">On Credit</h6>
                   <p id="yesterdaynetbalanceCard" class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
           </div>
         </div> 
                 
        <script>
          
        document.addEventListener('DOMContentLoaded', function() {
        const newTMDropdown = document.getElementById('newTMDropdown');
        const grossPremiumCard = document.getElementById('grossPremiumCard');
        const receiptsCard = document.getElementById('receiptsCard');
        const netbalanceCard = document.getElementById('netbalanceCard');
        const weekgrossPremiumCard = document.getElementById('weekgrossPremiumCard');
        const weekreceiptsCard = document.getElementById('weekreceiptsCard');
        const weeknetbalanceCard = document.getElementById('weeknetbalanceCard');
        const yesterdaygrossPremiumCard = document.getElementById('yesterdaygrossPremiumCard');
        const yesterdayreceiptsCard = document.getElementById('yesterdayreceiptsCard');
        const yesterdaynetbalanceCard = document.getElementById('yesterdaynetbalanceCard');


        // Fetch new TM options with their gross premium and receipts sums
        fetch('/get_new_tm_options_with_sum')
            .then(response => response.json())
            .then(data => {
                // Populate the dropdown with options from the server
                data.new_tm_options_with_sum.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.value = option.new_tm;
                    optionElement.text = option.new_tm;
                    newTMDropdown.add(optionElement);
                });

                // Add event listener to the dropdown for change event
                newTMDropdown.addEventListener('change', function() {
                    const selectedTM = newTMDropdown.value;

                    // Find the selected TM in the fetched data
                    const selectedTMSum = data.new_tm_options_with_sum.find(option => option.new_tm === selectedTM);
                    const selectedTMSumWeek = data.new_tm_options_with_sum_week.find(option => option.new_tm === selectedTM);
                    const selectedTMSumYesterday = data.new_tm_options_with_sum_yesterday.find(option => option.new_tm === selectedTM);


                    // Update the content of the card with the fetched sums
                    grossPremiumCard.textContent = `Amount: Ksh. ${selectedTMSum ? Math.round(selectedTMSum.gross_premium_sum).toLocaleString() : 0}`;
                    receiptsCard.textContent = `Amount: Ksh. ${selectedTMSum ? Math.round(selectedTMSum.receipts_sum).toLocaleString() : 0}`;
                    netbalanceCard.textContent = `Amount: Ksh. ${selectedTMSum ? Math.round(selectedTMSum.net_balance).toLocaleString() : 0}`;
                    weekgrossPremiumCard.textContent = `Amount: Ksh. ${selectedTMSumWeek ? Math.round(selectedTMSumWeek.week_gross_premium_sum).toLocaleString() : 0}`;
                    weekreceiptsCard.textContent = `Amount: Ksh. ${selectedTMSumWeek ? Math.round(selectedTMSumWeek.week_receipts_sum).toLocaleString() : 0}`;
                    weeknetbalanceCard.textContent = `Amount: Ksh. ${selectedTMSumWeek ? Math.round(selectedTMSumWeek.week_net_balance).toLocaleString() : 0}`;
                    yesterdaygrossPremiumCard.textContent = `Amount: Ksh. ${selectedTMSumYesterday ? Math.round(selectedTMSumYesterday.yesterday_gross_premium_sum).toLocaleString() : 0}`;
                    yesterdayreceiptsCard.textContent = `Amount: Ksh. ${selectedTMSumYesterday ? Math.round(selectedTMSumYesterday.yesterday_receipts_sum).toLocaleString() : 0}`;
                    yesterdaynetbalanceCard.textContent = `Amount: Ksh. ${selectedTMSumYesterday ? Math.round(selectedTMSumYesterday.yesterday_net_balance).toLocaleString() : 0}`;
                });
            })
            .catch(error => console.error('Error fetching new TM options with sum:', error));
          });

        </script>

    </body>
</html>