<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <style>
            .container{
                align-items: center;
            }
                        
        </style>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/corplogo.PNG" style="border-radius: 50%;" width="30" height="24" class="d-inline-block align-text-top">
            Production Analytics Dashboard
        </a>
        </div>
    </nav>

    </head>
    <body>

      

      
      <div class="card" style="margin: 2.5% 5%; padding: 1.5%;">

        <div style="padding-bottom: 0.5%;">
             <ul class="nav nav-pills">
                 <li class="nav-item">
                   <a class="nav-link " href="{{ url_for('home') }}">Global Dashboard</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link active" href="">Territorial Manager</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#">Intermediaries</a>
                 </li>  
                 <li>
                 <div style="color:#1f75fe; margin-left: 90%">
                  <label for="newTMDropdown">Select_Account_Manager</label>                  
                  <select id="newTMDropdown"></select>
                  </div>  
                </li>

                 
   
               </ul>

               

         </div>           

         <div class="row" style="padding-bottom:0.5%;">
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Month To Date</h5>
                   <h6 class="card-title">Production</h6>
                   <p id="grossPremiumCard" class="card-text">Amount: Ksh. </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Month To Date</h5>
                   <h6 class="card-title">Receipted</h6>
                   <p class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p>                      
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Month To Date</h5>
                     <h6 class="card-title">On Credit</h6>
                     <p class="card-text">Amount:</p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
               </div>
           </div>
           <div class="row" style="padding-bottom:0.5%;">
               <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Week To Date</h5>
                     <h6 class="card-title">Production</h6>
                     <p class="card-text">Amount: </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Week To Date</h5>
                     <h6 class="card-title">Receipted</h6>
                     <p class="card-text">Amount: </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Week To Date</h5>
                     <h6 class="card-title">On Credit</h6>
                     <p class="card-text">Amount: </p>
                     <p class="card-text">Number of Policies: </p> 
                   </div>
                 </div>
             </div>
           </div> 
           <div class="row" style="padding-bottom:0.5%;">
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Yesterday</h5>
                   <h6 class="card-title">Production</h6>
                   <p class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Yesterday</h5>
                   <h6 class="card-title">Receipted</h6>
                   <p class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">Yesterday</h5>
                   <h6 class="card-title">On Credit</h6>
                   <p class="card-text">Amount: </p>
                   <p class="card-text">Number of Policies: </p> 
                 </div>
               </div>
           </div>
         </div> 
                 
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              const newTMDropdown = document.getElementById('newTMDropdown');
              const grossPremiumCard = document.getElementById('grossPremiumCard');
      
              // Fetch new TM options with their gross premium sums
              fetch('/get_new_tm_options_with_sum')
                  .then(response => response.json())
                  .then(data => {
                      // Populate the dropdown with options from the server
                      data.new_tm_options_with_sum.forEach(option => {
                          const optionElement = document.createElement('option');
                          optionElement.value = option.new_tm;
                          optionElement.text = option.new_tm;
                          newTMDropdown.add(optionElement);
                      });
      
                      // Add event listener to the dropdown for change event
                      newTMDropdown.addEventListener('change', function() {
                          const selectedTM = newTMDropdown.value;
      
                          // Find the selected TM in the fetched data
                          const selectedTMSum = data.new_tm_options_with_sum.find(option => option.new_tm === selectedTM);
      
                          // Update the content of the card with the fetched sum
                          grossPremiumCard.textContent = `Gross Premium Sum: Ksh. ${selectedTMSum ? selectedTMSum.gross_premium_sum : 0}`;
                      });
                  })
                  .catch(error => console.error('Error fetching new TM options with sum:', error));
          });
      </script>
      

    </body>
</html>